.home{    
    padding: 20px;
    width: 100%;
    display: flex;
    .content {
        width: 100vw;
        border-radius: 1px;     
        text-align: center;

        .home-btn {
            left: 50%;
        }
    }

}